@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: #f7ecd8;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sigmar One', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
#navgroup {
  background-color: #5a3a3f;
  background-image: linear-gradient(#7c5a50, #5a3a3f);
  z-index: 2;
  transition: 0.32s;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #C0C0C0;
}
#navgroup nav {
  display: flex;
  justify-content: space-evenly;
}
#navgroup nav .safeLogo {
  color: #e4d9c5;
  letter-spacing: 1rem;
  font-weight: bold;
  margin-left: 8rem;
  margin-left: 1rem;
}
#navgroup .links {
  display: flex;
  justify-content: space-between;
}
#navgroup .links .signup {
  color: #3b3b3b;
  font-weight: bold;
  border: 2px solid #095721;
  border-radius: 20px;
  background-color: #8be697;
  background-image: linear-gradient(#c5f8cc, #8be697);
}
#navgroup .links .signup:hover {
  background-image: linear-gradient(#c5f8cc, #c5f8cc);
  background-color: #c5f8cc;
}
#navgroup a {
  border-radius: 20px;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  width: 15rem;
  white-space: nowrap;
  text-decoration: none;
  color: #dddddd;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
#navgroup a:hover {
  color: black;
  transition: 0.32s;
  background-color: #faffce;
  border-radius: 20px;
}
@media ( max-width: 500px ) {
  #navgroup nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #navgroup nav .safeLogo {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #navgroup nav .links {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  #navgroup nav .links .signup {
    padding-top: 0.4rem;
    width: 15rem;
  }
  #navgroup nav a {
    width: 10rem;
  }
}
@media ( max-width: 800px ) {
  #navgroup nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #navgroup nav .safeLogo {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #navgroup nav .links {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  #navgroup nav .links .signup {
    padding-top: 0.4rem;
    width: 15rem;
  }
  #navgroup nav a {
    width: 10rem;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  border: 1px double #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 100%;
  background: #000000;
}
.footer p {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding: 20px;
}
#container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}
@media ( max-width: 500px ) {
  #container {
    max-width: 100%;
  }
}
#container .header .headerimg {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 30rem;
}
@media ( max-width: 500px ) {
  #container .header {
    display: none;
  }
}
@media ( max-width: 800px ) {
  #container .header {
    display: none;
  }
}
#container .landing {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
}
@media ( max-width: 500px ) {
  #container .landing {
    flex-wrap: wrap;
    margin-top: 0;
  }
}
@media ( max-width: 800px ) {
  #container .landing {
    flex-wrap: wrap;
    margin-top: 0;
  }
}
#container .landing .carouselreal {
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 40%;
  user-select: none;
  background-color: #4c4c4c;
  border: solid 10px #2c2c2c;
  border-radius: 1rem;
}
@media ( max-width: 500px ) {
  #container .landing .carouselreal {
    margin-top: 0;
  }
}
@media ( max-width: 800px ) {
  #container .landing .carouselreal {
    height: 40rem;
  }
}
#container .landing .carouselreal .slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#container .landing .carouselreal .slide-img img {
  width: inherit;
  height: inherit;
}
#container .landing .carouselreal #nav_slide {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
#container .landing .carouselreal #nav_slide .dots {
  top: -5px;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
}
#container .landing .carouselreal #nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}
#container .landing .carouselreal #i1,
#container .landing .carouselreal #i2,
#container .landing .carouselreal #i3,
#container .landing .carouselreal #i4,
#container .landing .carouselreal #i5,
#container .landing .carouselreal #i6 {
  display: none;
}
#container .landing .carouselreal .pre,
#container .landing .carouselreal .nxt {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, 0.2);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}
#container .landing .carouselreal .pre:hover,
#container .landing .carouselreal .nxt:hover {
  transition: 0.3s;
  background-color: rgba(88, 88, 89, 0.8);
  color: #ffffff;
}
#container .landing .carouselreal .pre {
  left: 0;
}
#container .landing .carouselreal .nxt {
  right: 0;
}
#container .landing .carouselreal #i1:checked ~ #one,
#container .landing .carouselreal #i2:checked ~ #two,
#container .landing .carouselreal #i3:checked ~ #three,
#container .landing .carouselreal #i4:checked ~ #four,
#container .landing .carouselreal #i5:checked ~ #five,
#container .landing .carouselreal #i6:checked ~ #six {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}
#container .landing .carouselreal #i1:checked ~ #nav_slide #dot1,
#container .landing .carouselreal #i2:checked ~ #nav_slide #dot2,
#container .landing .carouselreal #i3:checked ~ #nav_slide #dot3,
#container .landing .carouselreal #i4:checked ~ #nav_slide #dot4,
#container .landing .carouselreal #i5:checked ~ #nav_slide #dot5,
#container .landing .carouselreal #i6:checked ~ #nav_slide #dot6 {
  background-color: rgba(255, 255, 255, 0.9);
}
@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
#container .landing .carouseldesc {
  margin-top: 2rem;
  color: #b6c2aa;
  background-image: linear-gradient(#586e6b, #3d3f4c);
  width: 32rem;
  padding-top: 2rem;
  border-radius: 20px;
  padding: 3rem 3rem 3rem 3rem;
}
@media ( max-width: 500px ) {
  #container .landing .carouseldesc {
    width: 90%;
    background-image: initial;
    color: #332131;
    display: none;
  }
}
@media ( max-width: 800px ) {
  #container .landing .carouseldesc {
    width: 90%;
    background-image: initial;
    color: #332131;
  }
}
#container .landing .carouseldesc .carouseltitle {
  font-size: 2.3rem;
}
@media ( max-width: 800px ) {
  #container .landing .landing {
    margin-top: 0;
  }
  #container .landing .carouselreal {
    width: 100%;
  }
}
@media ( max-width: 500px ) {
  #container .landing .carouselreal {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }
  #container .landing .pre,
  #container .landing .nxt {
    width: 15%;
  }
  #container .landing #nav_slide .dots {
    width: 1rem;
    height: 1rem;
  }
}
#container #welcome {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#container #welcome .mobiletext {
  display: none;
}
@media ( max-width: 500px ) {
  #container #welcome .mobiletext {
    display: initial;
  }
}
#container #welcome .welcometext {
  width: 100%;
}
#container #welcome .signupbtndiv {
  margin-top: 3rem;
}
#container #welcome .signupbtndiv .signbtn {
  font-weight: bold;
  display: block;
  background-color: #6dc472;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 12rem;
  height: 45px;
  font-size: 1.8rem;
  border-radius: 10px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
#container .carouseltitle {
  font-family: 'Anton', sans-serif;
}
