@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
#navgroup {
  background-color: #5a3a3f;
  background-image: linear-gradient(#7c5a50, #5a3a3f);
  z-index: 2;
  transition: 0.32s;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #C0C0C0;
}
#navgroup nav {
  display: flex;
  justify-content: space-evenly;
}
#navgroup nav .safeLogo {
  color: #e4d9c5;
  letter-spacing: 1rem;
  font-weight: bold;
  margin-left: 8rem;
  margin-left: 1rem;
}
#navgroup .links {
  display: flex;
  justify-content: space-between;
}
#navgroup .links .signup {
  color: #3b3b3b;
  font-weight: bold;
  border: 2px solid #095721;
  border-radius: 20px;
  background-color: #8be697;
  background-image: linear-gradient(#c5f8cc, #8be697);
}
#navgroup .links .signup:hover {
  background-image: linear-gradient(#c5f8cc, #c5f8cc);
  background-color: #c5f8cc;
}
#navgroup a {
  border-radius: 20px;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  width: 15rem;
  white-space: nowrap;
  text-decoration: none;
  color: #dddddd;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
#navgroup a:hover {
  color: black;
  transition: 0.32s;
  background-color: #faffce;
  border-radius: 20px;
}
@media ( max-width: 500px ) {
  #navgroup nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #navgroup nav .safeLogo {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #navgroup nav .links {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  #navgroup nav .links .signup {
    padding-top: 0.4rem;
    width: 15rem;
  }
  #navgroup nav a {
    width: 10rem;
  }
}
@media ( max-width: 800px ) {
  #navgroup nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #navgroup nav .safeLogo {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #navgroup nav .links {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  #navgroup nav .links .signup {
    padding-top: 0.4rem;
    width: 15rem;
  }
  #navgroup nav a {
    width: 10rem;
  }
}
